.form__fieldset {
    padding: 0px;
    border: none;
    width: calc(100% - (36px * 2));
    margin: 0px 64px 36px 36px;
    display: grid;
    grid-gap: 13px;
    position: relative;
}

@media screen and (max-width: 550px) {
    .form__fieldset {
        width: auto;
        margin: 0px 22px 25px 22px;
    }
}