.content {
    width: calc(100% - 400px);
    margin: 45px auto 40px auto;
}

@media screen and (max-width: 1150px) {
    .content {
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: calc(100% - 160px);
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: calc(100% - 38px);
    }
}