.profile__name {
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    margin: 0px 18px 0px 0px;
    width: 373px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 950px) {
    .profile__name {
        font-size: 22px;
        line-height: 27px;
        margin: 0px 10px 0px 0px;
        width: 196px;
    }
}