.card__like {
    border: none;
    background-color: transparent;
    background-image: url("../../../images/heart_unchecked.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    width: 21px;
    height: 19px;
    opacity: 1;
    transition: 0.3s;
}

.card__like:hover {
    opacity: 0.5;
}