.profile__info {
    color: white;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 16px;
}

@media screen and (max-width: 950px) {
    .profile__info {
        width: auto;
        grid-gap: 14px;
        margin-bottom: 36px;
    }
}