.form {
    display: block;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
}

@media screen and (max-width: 530px) {
    .form {
        width: 282px;
    }
}