.form__input {
    padding: 0px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 9px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    width: 100%;
}

.form__input:focus {
    outline: none;
}